{% extends '::layout.html.twig' %}

{% block title %}Добро пожаловать в Lostfilm notificator{% endblock %}

{% block body %}
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#lostfilm" aria-controls="lostfilm" role="tab" data-toggle="tab">Lostfilm</a>
        </li>
        <li role="presentation">
            <a href="#animedia" aria-controls="animedia" role="tab" data-toggle="tab">Animedia</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="lostfilm">
            <table class="table table-striped">
                <tbody>
                {% for show in shows if show is instanceof('AppBundle\\Document\\LostfilmShow') %}
                    <tr>
                        <td>{{ show.title }}</td>
                        <td class="td-checkbox"><input type="checkbox" data-id="{{ show.id }}" value="1" data-off-label="false" data-on-label="false" data-off-icon-class="glyphicon glyphicon-remove" data-on-icon-class="glyphicon glyphicon-ok"
                                   {% if app.user.isSubscribed(show) %}checked{% endif %}></td>
                        <td class="status"><img src="/images/loading_spinner.gif"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="animedia">
            <table class="table table-striped">
                <tbody>
                {% for show in shows if show is instanceof('AppBundle\\Document\\AnimediaShow') %}
                    <tr>
                        <td>{{ show.title }}</td>
                        <td class="td-checkbox"><input type="checkbox" data-id="{{ show.id }}" value="1" data-off-label="false" data-on-label="false" data-off-icon-class="glyphicon glyphicon-remove" data-on-icon-class="glyphicon glyphicon-ok"
                                   {% if app.user.isSubscribed(show) %}checked{% endif %}></td>
                        <td class="status"><img src="/images/loading_spinner.gif"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        $(function () {
            var checkboxes = $('.tab-content :checkbox');
            checkboxes.checkboxpicker();
            checkboxes.change(function (e) {
                var $element = $(this);
                var id = $element.data('id');
                $element.parent().next().find('img').css('visibility', 'visible');
                var isChecked = $element.is(':checked');
                $.post(
                        Routing.generate('app_default_togglesubscribe', {'id': id, 'action': isChecked ? 1 : 0}),
                        function (data) {
                            if (data.success) {
                                $element.parent().next().find('img').css('visibility', 'hidden');
                            } else {
                                alert('Ошибка при сохранении');
                            }
                        }
                )
            });
        });
    </script>
{% endblock %}
