#subscriptionForm {
  .submit-button-top {
    margin-bottom: 20px;
  }
  .submit-button-bottom {
    margin-top: 20px;
  }
}

.margin-top-20 {
  margin-top: 20px;
}

#waitForConfirmation {
  margin-bottom: 20px;
}

#telegramSuccess {
  display: none;
}

table {
  tr.new-shows-subscribe {
    font-weight: bold;
  }
  td.td-checkbox {
    width: 100px;
  }
  td.status {
    vertical-align: middle;
    text-align: left;
    width: 40px;
    img {
      visibility: hidden;
      width: 32px;
      height: 32px;
    }
  }
}