#subscriptionForm {
  .submit-button-top {
    margin-bottom: 20px;
  }
  .submit-button-bottom {
    margin-top: 20px;
  }
}

.margin-top-20 {
  margin-top: 20px;
}

#waitForConfirmation {
  margin-bottom: 20px;
}

#telegramSuccess {
  display: none;
}