{% extends '::layout.html.twig' %}

{% block title %}Настройки{% endblock %}

{% block body %}
    <form method="post">
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-sm-9">
                <label>Уведомления приходят на:</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="btn-group" data-toggle="buttons">
                    {% for choice in form.notificateVia %}
                        <label
                                class="btn btn-default{% if choice.vars.checked %} active{% endif %}"
                                {% if choice.vars.value == constant('NOTIFICATION_VIA_TELEGRAM', app.user)%}id="telegram"{% endif %}
                        >
                            {{ form_widget(choice) }}
                            {{ choice.vars.label }}
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-9">
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>

    <!-- Modal -->
    <div class="modal fade" id="telegramModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Для получения уведомлений в телеграм необходимо выполнить
                        следующие действия:</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>Начать чат с пользователем <strong>shows_bot</strong></li>
                        <li>Отправить в чат текст <strong id="telegramCode">...</strong></li>
                    </ul>
                    <br>
                    <div id="waitForConfirmation">
                        Ожидаем подтверждения...
                        <div id="spinner" class="spinner"
                             style="margin-left: 20px; position: relative; top: 15px;"></div>
                    </div>
                    <div id="telegramSuccess">
                        <strong>Код успешно подтвержден, теперь вы можете получать уведомления в телеграм!</strong>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block customjs %}
    {% if not app.user.telegramId %}
        <script type="text/javascript">
            $(function () {
                var checkingActive = false;
                var success = false;
                $("#telegram").on('click', function () {
                    $.get(Routing.generate('app_settings_generatetelegramcode'), function (data) {
                        $("#telegramCode").text(data.code);
                        $("#telegramModal").modal('show');
                        checkingActive = true;
                        checkSuccess();
                    });

                    var checkSuccess = function () {
                        if (checkingActive) {
                            $.get(Routing.generate('app_settings_checktelegramregistration'), function (data) {
                                if (data.success) {
                                    $("#waitForConfirmation").hide();
                                    $("#telegramSuccess").show();
                                    $("#telegram").off('click');
                                    success = true;
                                } else {
                                    setTimeout(checkSuccess, 1000);
                                }
                            })
                        }
                    };
                });

                $("#telegramModal").on('hide.bs.modal', function() {
                    checkingActive = false;
                    if (success === false) {
                        $("#app_user_settings_notificateVia_0").click();
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
